
.bodyab {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.container1ab {
    width: 90%;
    margin: 60px auto;
   
}

.boxab {
    
    background: #ffff;
    display: flex;
}

.left-partab {
   
    flex-basis: 60%;
    padding: 40px 60px;
    justify-content: center;
}

.right-partab {
    flex-basis: 60%;
    padding: 40px;
    background: #804545;
    color: #ffff;
    justify-content: center;
}

.bg-image {
  display: flex;
    width: 100%;
}

.texta {
    font-size: 20px;
    line-height: 24px;
  }