/*--------------------------Broke Brokers styles ------------------------*/
body{
background-color: #Ffffff;
font-family: 'Quicksand', sans-serif;
margin: 0px;
text-align: center;
}

/*--------------------------color palette ------------------------*/
/*https://web.goodnotes.com/s/umHDEfCzU5jKA2j4qmA1Sq#page-2*/
/* #E1CFCA   brown/purple */ 
/* #D2D2D2 dark gray*/
/* #F2F2F2  light gray*/
/* #FECECC light pink*/
/* #EDBCCF pink*/
/* #EE7EAD  dark pink*/
/* #FFFF83  yellow -link to another page*/
/* #BDFFB6  green - Drop down menu that appears on click*/