
@media screen and (min-width: 600px) {
  .brokerCard {
    max-width:100%;
  }
}

.brokerCard {
  border-left:  30px solid #EE7EA0;
  border-top : 1px solid #d2d2d2;
  box-shadow: 5px 6px 0px #D2D2D2;
  transition: 0.3s all;
  border-radius: 3px;
  background-color: #fff;
  padding: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /*min-width: 340px;*/
 max-width: 30%;
 display: inline-block;
 margin:1%;
 vertical-align: center;

  .profilePic {
    img {
      border-radius: 50%;
      border: 7px solid #EE7EA0;
      max-height:50%;
      max-width: 50%;
    
    }
  }

  .brokerName {
    font-size: 26px;
    margin-top: 18px;
    color: #EE7EA0;
  }

  .brokerInfo {
    font-size: 17px;
    margin-top: 18px;
    color: #000;
    word-wrap: break-word;
  }
  .cardTitle {
    font-size: 26px;
    margin-top: 18px;
    color: #D2D2D2;
    padding:5%;
    word-wrap: break-word;
  }
  .social {
    ul {
      margin-top: 22px;
      list-style-type: none;
      li {
        display: inline;
        font-size: 22px;
        cursor: pointer;
        color: #D2D2D2;
        padding: 1%;
      }
    }
  }
}
