.mortgageCalculator_container {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .pretty-text {
    color: #EE7EA0;
    margin-bottom: 20px;
}


  /* Styling for the input fields */
  .mortgageCalculator_container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Styling for the 'Calculate' button */
  .mortgageCalculator_container {
    /* Other styles */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mortgageCalculator_container button {
    background-color: #EE7EA0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    /* Remove the flex properties from the button */
}
  
  /* Hover effect for the button */
  .mortgageCalculator_container button:hover {
    background-color: #EE7EA0; /* Darker orange for hover state */
  }
  
  /* Styling for the results display */
  .mortgageCalculator_container h3 {
    background-color: white;
    color: #333;
    padding: 15px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }