.propertyInfoBox{
    width: 50%;
   padding: 20px;
   /*margin: 10px;*/
  /* clear: both;*/
   display: inline-block;
   vertical-align: top;
}


h1{
   
    color: #EE7EA0;
   font-family : 'PT Sans', sans-serif;
   font-size:48px;
   font-weight: 700;
   text-align : left;
}