.propertyContainer {
    border-left:  30px solid #EE7EA0;
    box-shadow: 5px 6px 0px #D2D2D2;
    transition: 0.3s all;
    border-radius: 3px;
    background-color: #fff;
    padding: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 340px;
    max-width: 95%;
   display: inline-block;
   margin:1%;
  