.fa-plus{
    background: #D2D2D2;
    border-color:#BDFFB6;
    border: 0.5em solid;
    color: #BDFFB6;
    height: 7em;
    width: 7em;
    border-radius:10%;
    display:inline-block;
    
}
.addButton{
 background : none;
 border: 0px;
cursor:pointer;
margin: 5%;
}

h1{
 margin: 5%;
}