.saveButton{
  
    float:left;
    background-color: #fff;
    border:0px;
    background-image: url('../../Images/savea_as_favourite_logo.png');
    background-size:contain;
    background-repeat: no-repeat;
    min-height:100px;
    min-width: 100px;
   /*display:inline-block;*/
    cursor: pointer;

  
}
.buttonText{
    color: #fff;
    background-color : #EE7EA0;
    padding: 1%;
    border-radius: 5px;
    vertical-align: bottom;
    display:none;
    
}


