.housecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /*min-width: 340px;*/

    display: flex;
    margin: 1%;
    vertical-align: center;

    .properties {
        flex-basis: 60%;
        padding: 40px 60px;
    }

   
}
.input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
    /* Allow the items to grow and shrink */
    margin: 5px;
    /* Add margin for spacing between items */
    min-width: 100px;
    /* Set a min-width for better responsiveness */
}