.housecontainer {
    display: flex;
    flex-direction: row; /* Align children in a row */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    gap: 10px; /* Spacing between items */
    flex-wrap: wrap; /* Wrap items to next line on smaller screens */
    margin: 0 auto;
    padding: 20px;
}

/* Style for the specific search input */
.housecontainer #searchInput1 {
    flex-grow: 0; /* Do not allow the input to grow */
    width: 150px; /* Set a smaller width */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
}

/* Style for the specific select dropdown */
.housecontainer select {
    flex-grow: 0; /* Do not allow the select to grow */
    width: 180px; /* Set a smaller width */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
    background-color: #fff;
}

/* Style for buttons to not grow and take the minimal space required */
.housecontainer .price-input button,
.housecontainer button {
    flex-grow: 0;
    padding: 10px;
    background-color: #ee7ea0; 
    color: white;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

/* Hover effect for buttons */
.housecontainer button:hover {
    background-color: #ec5b87; 
}

