
@media screen and (min-width: 600px) {
    .propertiesCards {
      max-width:100%;
      flex-basis: 60%;
      
    }
  }

.HC_infoContainer{
    border-left:  3px solid #EE7EAD;
    border-top : 1px solid #d2d2d2;
    box-shadow: 2px 3px 0px #D2D2D2;
    transition: 0.3s all;
    border-radius: 3px;
    background-color: #fff;
    padding: 1%;
    display: inline-block;
    justify-content: center;
    text-align: center;
    min-width: 80px;
    width:30%;
    max-width: 30%;
    margin:1%;
    max-height: 30%;

}


.HC_propertyInfoBox{
    width: 100%;
   padding: 1%;
   /*margin: 10px;*/
  /* clear: both;*/
   display: inline-block;
 vertical-align: top;
 text-align:left;
 word-wrap:break-word;
}


.HC_price{
       color: #EE7EA0;
   font-family : 'PT Sans', sans-serif;
   font-size:1em;
   font-weight: 700;
   text-align : left;
}
.HC_postname{
   
    color: grey;
   font-family : 'PT Sans', sans-serif;
   font-size:10px;
   font-weight: 700;
   text-align : left;
}
.HC_details{
   
    color: #000;
   font-family : 'PT Sans', sans-serif;
   font-size:0.5em;
   font-weight: 700;
   text-align : left;
}

.HC_photoContainer{
    width: 100%;
    padding: 0%;
    }

.HC_photoContainer img{
        max-width: 100%;
        height: auto;
        }
i{
    color: #EE7EA0;
    padding:2%;
    
}
.HC_iconSection{
width:100%;

}

.HC_cardIcons{
    display:inline-block;
    width: 10%;
}

.HC_ul{
    list-style-type: none;
    margin: 0;
    padding: 1%;
}

.HC_li{
    display:inline;
   
}


.HC_infoContainer:hover {
    /* styles to apply on hover */
    transform: scale(1.05); /* scales the card slightly */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* adds a shadow for depth */
    cursor: pointer; /* changes the cursor to a pointer to indicate clickability */
}

/* Button styling */
.HC_iconSection button {
    padding: 10px 25px;
    background-color: #EE7EA0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}