

.search-container {
    max-width: 700px;
    margin: 0 auto;
    display: flex; /* Changed from inline to flex to use flexbox */
    flex-direction: row; /* Changed from column to row to align items in a line */
    gap: 10px;
    flex-wrap: wrap; /* Added wrap to ensure the container's responsiveness */
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Distribute the space between the items evenly */
    margin-top: 25px;
    margin-bottom: 25px;
  
}
  
  .search-container input[type="text"],
  .search-container select,
  .price-input button,
  .search-container button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1; /* Allow the items to grow and shrink */
    margin: 5px; /* Add margin for spacing between items */
    min-width: 100px; /* Set a min-width for better responsiveness */
  }
  
  .price-dropdown {
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 420px;
    height: 140px;
    top: 40px; 
    margin-top: 125px;
  }
  
  .price-dropdown label {
   
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .search-container button {
    padding: 10px;
    border-color: transparent;
    border-radius: 4px;
    background-color: #ee7ea0; 
    color: white;
    cursor: pointer;
    width: 100%;
  }
  
  .search-container button:hover {
    background-color: #ec5b87; 
  }
  
  dialog {

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
  }
  
  .filter-modal {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color:white;
    border: 1px solid #ccc;
    z-index: 2;
    
  }
  
  /* Overlay */
  .filter-modal:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f9f9f9;
    z-index: -1;
  }
  .smaller-input {
    width: 40px; 
   
  }
  
  label input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 5px;
  }

  .filter-content {
    
    margin: auto;
    width: 50%;
    padding: 10px;
    
  }


  .price-range-display {

    margin-left: 49px;
    
    margin-top: 15px; 
    margin-bottom: 15px; 
  }
