
.myGalleryContainer{
width: 50%;
float: right;
/*border-style: solid;
border-width: 7px;*/
margin :20px;

}
.photoContainer{
    width: 45%;
    float: left;
    padding: 20px;
    }

.photoContainer img{
        max-width: 100%;
        height: auto;
        }

