
.myGalleryCountainer{
width: 50%;
float: right;
border-style: solid;
border-width: 7px;
margin : 10px;
}
.photoContainer{
    width: 45%;
    min-height: 500px;
    float: left;
    padding: 20px;
    }

    .photoContainer img{
        max-width: 100%;
        height: auto;
        }

