
.myGalleryCountainer{
width: 50%;
float: right;
border-style: solid;
border-width: 7px;
}
.photoContainer{
    width: 50%;
    min-height: 500px;
    float: left;
    background-image: url(../Images/property_image_test1.jpg);
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    }

