*rv {
    margin: 0;
    padding: 0;
}

bodyrv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.contact-usrv {
    background: #f8f4e5;
    padding: 50px 100px;
    border-top: 10px solid #f45702;
}

.labelrv,
.inputrv,
.textarearv {
    display: block;
    width: 100%;
    font-size: 12pt;
    line-height: 24pt;
    font-family: "Spartan";
}

.inputrv {
    margin-bottom: 24pt;
}

.h3rv {
    font-weight: normal;
    font-size: 10pt;
    line-height: 24pt;
    font-style: italic;
    margin: 0 0 0.5em 0;
}

.spanrv {
    font-size: 8pt;
}

.emrv {
    color: #f45702;
    font-weight: bold;
}

.inputrv,
.textarearv {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: #f8f4e5;
    padding-left: 5px;
    outline: none;
}

.inputrv:focus,
.textarearv:focus {
    border: 1px solid #6bd4b1;
}

.textarearv {
    resize: none;
}

.buttonrv {
    width: 100px;
    display: block;
    float: right;
    padding: 0 20px;
    border: none;
    color: white;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
}

.buttonrv:hover {
    background: inherit;
    color: palevioletred;
    border-bottom: 2px solid palevioletred;
}


.container1rv {
    width: 80%;
    margin: 50px auto;
}

.boxrv {
    background: #ffff;
    display: flex;
}

.left-partrv {
    flex-basis: 60%;
    padding: 40px 60px;
}

.right-partrv {
    flex-basis: 60%;
    padding: 40px;
    background: blue;
    color: #ffff;
}